$RADIUS: 20px;

.Scanner{
    align-items: center;
    background-color: white;
    // bottom:0;
    border-top: 1px solid #00000059;
    border-top-left-radius: $RADIUS;
    border-top-right-radius: $RADIUS;
    box-shadow: 0px -1px 5px 0px rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    display: flex;
    flex-flow: column nowrap;
    height: auto;
    justify-content: center;
    justify-self: flex-end;
    overflow: hidden;
    padding: 2rem 0 0 0;
    position: relative;
    position: relative;
    width: auto;
    
}

// .Close{
//     height: 1px;
//     padding: 1px 0;
//     .Line{
//         border-top: 1px solid #00000059;
//     }
// }

.Webcam{
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
    justify-content: center;
    margin: 2rem;
    max-width: 100%;
    object-fit: cover;
    // max-height: 100px;
    *{
        border-radius: 10px;
        padding: 0 !important;
        position: relative !important;
    }
}