.Dialog{
    display: flex;
    z-index: 2000;
    background-color: white;
    padding: 1rem;
    border-radius: 10px;
    margin: 5rem 0 2rem 0;
    // position: absolute;
    // top: 0;
    // left: 50%;
    // right: 50%;
    max-width: 50%;
    min-width: 100px;
}