.Dialog{
    display: flex;
    z-index: 2000;
    background-color: white;
    padding: 1.5rem 1rem;
    border-radius: 10px;
    margin: 5rem 0 2rem 0;
    // position: absolute;
    // top: 0;
    // left: 50%;
    // right: 50%;
    max-width: 100%;
    min-width: 90%;
    flex-flow: column nowrap;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
}

.Dialog__content{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 1rem;
    padding: 0.25rem 1rem;
    overflow-y: auto;
    &::-webkit-scrollbar {
        width: 0.175rem;
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 0.5rem;
        background-color: #747474;
    }
}