.container{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;

    li{
        margin: 0;
        padding: 0;
    }
}

.main{
    justify-content: center;
    align-items: center;
    width: 100%;
    font-family: sans-serif;
    display: flex;
    flex-flow: column nowrap;
    text-align: center;
    align-items: center;
    height: 400px;
    justify-content: space-evenly;
    // *{width: 90%;}
}

.header {
    display: flex;
    flex-direction: column;
    align-items: normal;
    list-style-type: none;
    box-sizing: border-box;
}

.values{
    display: flex;
    flex-direction: column;
    margin: 0;
    margin-left: none;
    align-items: start;
    justify-content: center;
    list-style-type: none;
    box-sizing: border-box;
}

.firstValuesList{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    list-style-type: none;

}

.valuesList{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 21%;
    justify-content: center;
    list-style-type: none;
    font-weight: bolder;
}


.egg {
    display: block;
    position: absolute;
    top: -25%;
    right: 36%;
    width: 189px;
    height: 270px;
    background-color: red;
    border-radius: 50% 50% 50% 50% / 40% 60% 40% 60%;
    rotate: 90deg;
  }

  .info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0 1rem;
    text-align: left;
  
    // font-weight: bolder;
    // font-size: 1.5rem;
  }

  .info2{
    display: flex;
    flex-direction: column;
    align-items: right;
    justify-content: center;
    list-style-type: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0 1rem;
    p{
        text-align: right
    };
  }