.App {
  align-items: center;
  background: white;
  display: flex;
  flex-flow: column nowrap;
  font-family: "Raleway", sans-serif;
  height: 100vh;
  justify-content: space-between;
  max-width: 100%;
  flex: 1;
  min-height: 90vh;
  // min-width: 320px;
  min-width: calc(100vh * 9 / 30);
  position: relative;
  text-align: center;
  width: 100vw;
}

.App img {
  height: auto;
  max-width: 15em;
}

.App ul {
  margin: 0;
  padding: 0;
}

.App li {
  color: #463a4e;
  display: inline;
  font-size: 20px;
  line-height: 70px;
  list-style: none;
  margin-left: 30px;
}

.App .nav-link {
  text-decoration: none;
  transition: all 100ms ease-in-out;
}


.App a:hover {
  opacity: 0.5;
}

.Scanner{
  position: relative;
}

.MuiPaper-root{
  background-color: transparent !important;
  margin-bottom: 1rem !important;
  // max-width: 1000px !important;
}