.Nav{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem 2rem;
    box-sizing: border-box;
    position: absolute;
    bottom: 20px;
    box-shadow: 0 -3px 5px -2px rgba(0, 0, 0, 0.5);
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

.Buttons{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin: 0 1rem;
}

.Scanner{
    padding: 2rem;
    
}